<!--<div class="col-sm-6 col-md-3 col-lg-3">-->
  <!--<div class="thumbnail">-->
    <!--<div class="item_ico">-->
      <!--<%=image_tag(  "icons/ico_.png",  class:'amenities')%>-->
      <!--<div class="caption">-->

        <!--<h6></h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_1.png",  class:'amenities')%>
      <div class="caption">

        <h6>Snacks, beer and wine</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_2.png",  class:'amenities')%>
      <div class="caption">

        <h6>Free printing and office supplies</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_3.png",  class:'amenities')%>
      <div class="caption">

        <h6>Built-in Bar</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_4.png",  class:'amenities')%>
      <div class="caption">

        <h6>Free, super fast Wi-Fi</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_5.png",  class:'amenities')%>
      <div class="caption">

        <h6>Private phone booths</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_6.png",  class:'amenities')%>
      <div class="caption">

        <h6>Apple TV and Chromecast</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag("icons/ico_77.png", class:'amenities')%>
      <div class="caption">

        <h6>Perks</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_8.png",  class:'amenities')%>
      <div class="caption">

        <h6>Events and workshops</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_9.png",  class:'amenities')%>
      <div class="caption">

        <h6>2,000 square foot
          event space</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag("icons/ico_10.png", class:'amenities')%>
      <div class="caption">

        <h6>Weekly Yoga
          Sessions</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_11.png",  class:'amenities')%>
      <div class="caption">

        <h6>Concierge services</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_12.png",  class:'amenities')%>
      <div class="caption">

        <h6>Outdoor Patio</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_13.png",  class:'amenities')%>
      <div class="caption">

        <h6>Library</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_14.png",  class:'amenities')%>
      <div class="caption">

        <h6>Conference rooms
          and classrooms</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_15.png",  class:'amenities')%>
      <div class="caption">

        <h6>Exercise Room</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <div class="thumbnail">
    <div class="item_ico">
      <%=image_tag(  "icons/ico_16.png",  class:'amenities')%>
      <div class="caption">

        <h6>Espresso and
          Coldbrew Coffee</h6>
      </div>
    </div>
  </div>
</div>

