<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <div class="item_max">
      <%=link_to image_tag(  "team/1.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Kevin Smith</h3>
        <p>Founder</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/2.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Michael Jee</h3>
        <p>Vault Korea</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/3.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Claire Kirshner</h3>
        <p>Member Coordinator</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/4.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Miika Mantyvaaral</h3>
        <p>Chief Revenue Officer</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/5.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Jacob Rojas</h3>
        <p>Facilities Coordinator</p>
      </div>
    </div>
  </div>
</div>