<div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight">
  <div class="thumbnail">
    <div class="item_max">
      <%=link_to image_tag(  "team/1.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Kevin Smith</h3>
        <h5>Founder</h5>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight " data-wow-delay="0.5s">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/2.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Michael Jee</h3>
        <h5>Vault Korea</h5>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight" data-wow-delay="0.7s">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/3.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Claire Kirshner</h3>
        <h5>Member Coordinator</h5>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight" data-wow-delay="1s">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/4.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Miika Mantyvaaral</h3>
        <h5>Chief Revenue Officer</h5>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight" data-wow-delay="0.5s">
  <div class="thumbnail">
    <div class=" item_max">
      <%=link_to image_tag(  "team/5.jpg",  class:'team_pic_fluid'),:root%>
      <div class="caption">
        <h3 class="orange">Jacob Rojas</h3>
        <h5>Facilities Coordinator</h5>
      </div>
    </div>
  </div>
</div>