<%= render 'shared/nav/carousel_slide' %>
<br>
<br>


<div class="container">
  <div class="col-md-12">

<h1 class="orange">Let's CO!</h1>
The Vault is a collaborative workspace and innovation hub founded on the principle that people work better together. We offer state-of-the-art workspaces, resources, talent, knowledge and networks to help startups grow better and faster.

<p class="orange">Email concierge@thesfvault.com to schedule a tour!</p>


<div class="toggle-play-video ng-scope" hm-tap="onAlternateVideoTap()" ng-if="isIPad || (isSafari &amp;&amp; !isIphone) || isFirefox" style="">
  <div class="n2-icon play-icon ng-hide" ng-show="playIconVisible" ng-style="playIconCss &amp;&amp; {'background-image': playIconCss}" style=""></div>
</div>


<h1 class="orange">Amenities</h1>
    <p>The Vault offers a host of amenities to foster creativity, learning & collaboration.</p>



    <div class="row justify-content-center" >
      <%= render 'home/amenities' %>
    </div>




<h1 class="orange">Resources</h1>
<p>The Vault offers a host of resources to foster creativity, learning & collaboration.</p>

    <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="thumbnail">
        <div class="item_ico">
          <%=image_tag(  "icons/ico_11.png",  class:'amenities')%>
          <div class="caption">
            <p>Investment Advisors</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
    <div class="thumbnail">
      <div class="item_ico">
        <%=image_tag(  "icons/ico_14.png",  class:'amenities')%>
        <div class="caption">
          <p>In House Mentors</p>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
    <div class="thumbnail">
      <div class="item_ico">
        <%=image_tag(  "icons/ico_13.png",  class:'amenities')%>
        <div class="caption">
          <p>Document Library</p>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="thumbnail">
        <div class="item_ico">
          <%=image_tag(  "icons/ico_12.png",  class:'amenities')%>
          <div class="caption">
            <p>Office Hours</p>
          </div>
        </div>
      </div>
    </div>

    </div>



  </div>
</div>


<div class="d-flex justify-content-center row">
<%= image_tag "photos/inside_photo_1.jpg", class: "d-block img-fluid full-screen"%>
</div>


<div class="container">
  <div class="col-md-12">
<h1 class="orange">Location</h1>
<p>The SF Vault is located in Jackson Square - once the frontline of the Barbary Coast - amidst art galleries, boutiques, antique dealers and fine dining. The space boasts a rich history as the original home of the Ghiradelli chocolate factory in 1851. The location, which once served as home to one of San Francisco's most successful companies, has been redesigned once again as a home for innovation.</p>


    <div class="d-flex justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.731875881181!2d-122.40454104994996!3d37.79632291859469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808ab3175d7b%3A0x2ed69a4d21ace193!2zNDE1IEphY2tzb24gU3QsIFNhbiBGcmFuY2lzY28sIENBIDk0MTExLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1487282873613" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

<h1 class="orange">Photo Gallery</h1>

    <div class="d-flex justify-content-center">


      <%= render 'home/photo_gallery' %>


    </div>

    <h1 class="orange">Events</h1>
    <p>Host Your Next Event at The Vault
    <br>The Vault offers a public event space suitable for a range of events: seminars, panels, workshops, meetups, happy hours and pitch nights.</p>




     <ul class="cristal">2,000 sq ft of event space </ul>

     <ul class="cristal">Capacity for 120 standing and 80 seated </ul>

     <ul class="cristal">Flexible floor layout </ul>

     <ul class="cristal">80" flat screen TV with HDMI adapter </ul>

     <ul class="cristal">Chromecast and Apple TV equipped monitors </ul>

     <ul class="cristal">In house production and marketing assistance </ul>

     <ul class="cristal">Use of bar area </ul>


    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-warning">Events Inquiry</button>
    </div>
    <!--Calendar google-->
    <iframe src="https://calendar.google.com/calendar/embed?src=thesfvault.com_kgmccvpqtht9s99eiq52vhed8c%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"> </iframe>
    <!--End Calendar google -->

  </div>
</div>
<div class="row">
<%= image_tag "photos/inside_photo_2.jpg", class: "d-block img-fluid full-screen"%>
</div>

<div class="container">
  <div class="col-md-12">



    <h1 class="orange">Members</h1>


    <div class="row justify-content-center">
      <%= render 'home/members' %>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-warning">Member Login</button>
    </div>


    <h1 class="orange">From The Vault</h1>







    <h1 class="orange"> Careers </h1>
    <p> <strong>Want to join the team? We are currently recruiting for our Internship Program.</strong>
    <br>Send your resume to careers@thesfvault.com</p>

  </div>
</div>


<div class="row">
<%= image_tag "photos/inside_photo_3.jpg", class: "d-block img-fluid full-screen"%>
</div>


<div class="container">
  <div class="col-md-12">
    <h1 class="orange">Team</h1>

  </div>
</div>

    <div class="row justify-content-center">
    <%= render 'home/team' %>
    </div>

<div class="container">
  <div class="col-md-12">
    <h1 class="orange">Advisors</h1>

    <p class="orange"></p>
    <p class="orange"></p>
    <p class="orange"></p>


    <%=link_to 'Daniel Park','https://www.linkedin.com/in/daniel-park-37a05092/en', target:"_blank" , class:"orange offset-sm-1"%>
    <%=link_to 'Paul Kallmes','https://www.linkedin.com/in/paul-kallmes-8a0376' , target:"_blank", class:"orange offset-sm-1"%>
    <%=link_to 'Sean Cho',:root, target:"_blank" , class:"orange offset-sm-1"%>




    <h1 class="orange">Contact</h1>

    <p>Email us at concierge@thesfvault.com</p>
    <p>Give us a call at (415) 908-1010</p>






  </div>
</div>