<%= render 'shared/nav/carousel_slide' %>
<br>
<br>


<div class="container">
  <div class="col-md-12">

<h1 class="orange">Let's CO!</h1>
The Vault is a collaborative workspace and innovation hub founded on the principle that people work better together. We offer state-of-the-art workspaces, resources, talent, knowledge and networks to help startups grow better and faster.

<p class="orange">Email concierge@thesfvault.com to schedule a tour!</p>


<div class="toggle-play-video ng-scope" hm-tap="onAlternateVideoTap()" ng-if="isIPad || (isSafari &amp;&amp; !isIphone) || isFirefox" style="">
  <div class="n2-icon play-icon ng-hide" ng-show="playIconVisible" ng-style="playIconCss &amp;&amp; {'background-image': playIconCss}" style=""></div>
</div>


<h1 class="orange">Amenities</h1>
    <p>The Vault offers a host of amenities to foster creativity, learning & collaboration.</p>



    <div class="row justify-content-center" >
      <%= render 'home/amenities' %>
    </div>




<h1 class="orange">Resources</h1>
<p>The Vault offers a host of resources to foster creativity, learning & collaboration.</p>

Investment Advisors


In House Mentors


Document Library


Office Hours


  </div>
</div>


<div class="d-flex justify-content-center">
<%= image_tag "photos/inside_photo_1.jpg", class: "d-block img-fluid full-screen"%>
</div>


<div class="container">
  <div class="col-md-12">
<h1 class="orange">Location</h1>
<p>The SF Vault is located in Jackson Square - once the frontline of the Barbary Coast - amidst art galleries, boutiques, antique dealers and fine dining. The space boasts a rich history as the original home of the Ghiradelli chocolate factory in 1851. The location, which once served as home to one of San Francisco's most successful companies, has been redesigned once again as a home for innovation.</p>


    <div class="d-flex justify-content-center">
    <%= image_tag "photos/location.jpg", class: "d-block img-fluid"%>
    </div>

<h1 class="orange">Photo Gallery</h1>

    <div class="d-flex justify-content-center">
      <%= image_tag "photos/location.jpg", class: "d-block img-fluid"%>

    </div>

    <h1 class="orange">Events</h1>
    <p>Host Your Next Event at The Vault
    <br>The Vault offers a public event space suitable for a range of events: seminars, panels, workshops, meetups, happy hours and pitch nights.</p>




     <ul class="cristal">2,000 sq ft of event space </ul>

     <ul class="cristal">Capacity for 120 standing and 80 seated </ul>

     <ul class="cristal">Flexible floor layout </ul>

     <ul class="cristal">80" flat screen TV with HDMI adapter </ul>

     <ul class="cristal">Chromecast and Apple TV equipped monitors </ul>

     <ul class="cristal">In house production and marketing assistance </ul>

     <ul class="cristal">Use of bar area </ul>


    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-warning">Events Inquiry</button>
    </div>
  </div>
</div>
<%= image_tag "photos/inside_photo_2.jpg", class: "d-block img-fluid full-screen"%>


<div class="container">
  <div class="col-md-12">

<h1 class="orange">Members</h1>

    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-warning">Member Login</button>
    </div>

    <h1 class="orange"> Careers </h1>
    <p> <strong>Want to join the team? We are currently recruiting for our Internship Program.</strong>
    <br>Send your resume to careers@thesfvault.com</p>

  </div>
</div>



<%= image_tag "photos/inside_photo_3.jpg", class: "d-block img-fluid full-screen"%>

<div class="container">
  <div class="col-md-12">
    <h1 class="orange">Team</h1>

  </div>
</div>

    <div class="row justify-content-center">
    <%= render 'home/team' %>
    </div>

<div class="container">
  <div class="col-md-12">
    <h1 class="orange">Advisors</h1>

    <p class="orange"></p>
    <p class="orange"></p>
    <p class="orange"></p>


    <%=link_to 'Daniel Park','https://www.linkedin.com/in/daniel-park-37a05092/en', target:"_blank" , class:"orange offset-sm-1"%>
    <%=link_to 'Paul Kallmes','https://www.linkedin.com/in/paul-kallmes-8a0376' , target:"_blank", class:"orange offset-sm-1"%>
    <%=link_to 'Sean Cho',:root, target:"_blank" , class:"orange offset-sm-1"%>




    <h1 class="orange">Contact</h1>

    <p>Email us at concierge@thesfvault.com</p>
    <p>Give us a call at (415) 908-1010</p>






  </div>
</div>