<br>
<br>
<nav class="navbar navbar-inverse bg-inverse">
    <!-- Navbar content -->
    <div class="container">
      <div class="col-md-12">



        <!--<li class="nav-item">-->

      <!--<%= image_tag "logo_white.svg", size: "100",class:"navbar-text" %>-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->

        <!--<%= link_to 'Join our mailing list',:root , class:"btn btn-outline-warning "%>-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->



        <div class="row justify-content-center">

          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
              <div class="d-flex  justify-content-center ">
                <%= image_tag "logo_white.svg", size: "100",class:"navbar-text" %>
              </div>

            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
              <div class="row justify-content-center">
              <div class="" style="padding-bottom: 30px; padding-top: 30px">
                <%= link_to 'Join our mailing list','#mailing_list' , class:"btn btn-outline-warning mailing_list", onclick: "return false"%>
              </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">

              <div class="social">
                <div class="d-flex  justify-content-center">
                <%= render 'shared/nav/socials' %>
                </div>
              </div>



              </div>
            </div>
          </div>

        </div>

      </div>
    </div>



  </nav>

  <!--<nav class="nav nav-pills flex-column flex-sm-row bg-inverse">-->
    <!--<a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>-->
    <!--<a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>-->
    <!--<a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>-->
    <!--<a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>-->
  <!--</nav>-->


