<div class="modal fade" id="memberModal" data-keyboard="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Apply Here.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'First name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Last name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= email_field_tag 'email', nil, placeholder: 'Email', class: 'form-control' %>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <%= text_field_tag 'company_name', nil, placeholder: 'Company name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_area_tag 'company_description', nil, placeholder: 'Company description', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'Advisors', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Current investors', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'Date founded', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Initial product launch date', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_area_tag 'company_description', nil, placeholder: 'Founder bios', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'Website', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Industry', class: 'form-control' %>
          </div>

          <div class="form-group">
              <select class="form-control" id="Select1">
                <option value="Bootstrapped">Bootstrapped</option>
                <option value="Angel/Seed">Angel/Seed</option>
                <option value="Series A">Series A</option>
                <option value="Series B and Beyond">Series B and Beyond</option>
            </select>
          </div>

          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: '# of desks needed', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Proposed move in date', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_area_tag 'company_description', nil, placeholder: 'Please list dates and times you are available to take a tour', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_area_tag 'company_description', nil, placeholder: 'Why do you want to join the vault', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'referred_by', nil, placeholder: 'Referred by', class: 'form-control' %>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning">APPLY NOW</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="eventModal" data-keyboard="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'First name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Last name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= email_field_tag 'email', nil, placeholder: 'Email', class: 'form-control' %>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <%= text_field_tag 'company_name', nil, placeholder: 'Company name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'number', nil, placeholder: 'Number of people', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= date_field_tag 'date', nil, placeholder: 'Date', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= time_field_tag 'time', nil, placeholder: 'Time', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_area_tag 'comments', nil, placeholder: 'Comments', class: 'form-control' %>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning">REQUEST EVENT</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="mailing_listModal" data-keyboard="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Join the Vault Community</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <%= text_field_tag 'first_name', nil, placeholder: 'First name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'last_name', nil, placeholder: 'Last name', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= email_field_tag 'email', nil, placeholder: 'Email', class: 'form-control' %>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </form>


      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning">APPLY NOW</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Скрипт, привязывающий событие click, открывающее модальное окно, к элементам, имеющим класс .btn -->
<script>
    $(document).ready(function () {

        $(".event").click(function () {
            //открыть модальное окно с id="myModal"
//            alert('aletr');
            $("#eventModal").modal('show');

//
        });
        $('#eventModal').on('shown.bs.modal', function () {
            //#myInput - id элемента, которому необходимо установить фокус
            $('#first_name').focus();
        });

        $(".member").click(function () {
            //открыть модальное окно с id="myModal"
            $("#memberModal").modal('show');


        });
        $('#memberModal').on('shown.bs.modal', function () {
            //#myInput - id элемента, которому необходимо установить фокус
            $('#query').focus();
        });

        $(".mailing_list").click(function () {
            //открыть модальное окно с id="myModal"
            $("#mailing_listModal").modal('show');


        });
        $('#mailing_listModal').on('shown.bs.modal', function () {
            //#myInput - id элемента, которому необходимо установить фокус
            $('#first_name').focus();
        })


    });
</script>