<!DOCTYPE html>
<html>
  <head>
    <title>Vault</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= Rails.env %>">




  <%= render 'shared/nav/header' %>


    <div class="container">



          <%= render 'shared/nav/modal' %>
          <%= render 'shared/nav/flash' if alert || notice %>
          <%= yield %>


    </div>



  <%= render 'shared/nav/footer' %>

  </body>
</html>
