<!DOCTYPE html>
<html>
  <head>
    <title>The SF Vault</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= Rails.env %>">



  <!--<div class="container-fluid">-->

  <%= render 'shared/nav/header' %>

  <!--</div>-->

    <div class="container-fluid">



          <%= render 'shared/nav/modal' %>
          <%= render 'shared/nav/flash' if alert || notice %>
          <%= yield %>


    </div>

  <!--<div class="row">-->
  <!--<div  style="background-color: #000000; width: auto; height: 60px; " >-->
  <!--</div>-->
  <!--<div class="container-fluid ">-->

    <%= render 'shared/nav/footer' %>
  <!--</div>-->

  </body>
</html>
